﻿@model SistemaContabilidad2.Models.CuentaContable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CuentaContable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuentaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuentaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermiteTransacciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermiteTransacciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaMayorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaMayorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CuentaContableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
