﻿@model IEnumerable<SistemaContabilidad2.Models.CuentaContable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCuentaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermiteTransacciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentaMayorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCuentaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermiteTransacciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaMayorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CuentaContableID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CuentaContableID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CuentaContableID })
        </td>
    </tr>
}

</table>
