﻿@model SistemaContabilidad2.Models.EntradaContable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EntradaContable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuxiliarID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuxiliarID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrigenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrigenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaContableID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaContableID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntradaContableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
