﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Modulo de Contabilidad</h1>
       </div>


    <div class="col-md-12" >
        <img src="~/index.jpeg" style="width: 100%;" />
        <p style="font-size: 17px; margin-top: 10px;" class="lead">Este módulo provee la facilidad de mantener actualizada la información contable relacionada con el negocio,  esta es registrada en esta aplicación o recibida desde los demás módulos.</p>

    </div>
</div>