﻿@model IEnumerable<SistemaContabilidad2.Models.TipoCuenta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigenID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrigenID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoCuentaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoCuentaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoCuentaID })
        </td>
    </tr>
}

</table>
